/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-left: 0.5;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color:  blueviolet;
    color: white;
    text-align: center;
    padding: 0.5em 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    line-height: 1.6;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    min-height: calc(100vh - 60px); /* 60px es la altura del header */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

/* Estilos específicos para la página */
h1 {
    padding: 10px;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: white;
}
h3 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: blueviolet;
}
h4 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: blueviolet;
}

p {
    margin-bottom: 1.5em;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: disc;
    margin-left: 2em;
    margin-bottom: 1.5em;
}

footer p {
    margin: 0;
}

/* Imágenes */
#descripcion-python {
    background-image: url(img/He.jpg); /* Ruta a la imagen */
    background-size: cover;
    background-position: center;
    padding: 4em 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#caracteristicas-python {
    background-color: #f7f7f7;
    padding: 4em;
    border-radius: 10px;
}

#aplicaciones-python {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    border: 1px solid #ddd;
}


th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid blueviolet;
}

thead {
    background-color: blueviolet;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Alinear el contenido de las celdas */
td {
    vertical-align: top;
}

